@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&display=swap');

body{
    background-color: rgb(174, 222, 252);
    margin: 0;
    padding: 0;
}

.nav{
    width: 100vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-right: 110px;
    font-family: "Madimi One", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.contents div{
    transition: transform .3s ease;
    cursor: pointer;
}
.contents div:hover{
    color:white;
}
.logoname img{
    padding: 20px 3px;
    margin-left: 40px;
    width: 70px;
}

.logoname{
    display: flex;
    align-items: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.maincontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 100px;
}

.a{
    font-size: 2.3rem;
    font-family: "Nunito", sans-serif;
}

.b{
    font-size: 5rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
}

.c{
    font-size: 2.3rem;
    font-family: "Nunito", sans-serif;
}
.text div{
    padding-bottom: 15px;
}

.img1{
    display: flex;
    flex-direction: column;
}

.img1 img:first-child{
    position: absolute;
    right: 110px;
    bottom: 570px;
}

.img1 img:first-child, .img1 img:last-child {
    animation: rotate .9s  infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); } 
    50% { transform: rotate(90deg); } 
    100% { transform: rotate(0deg); } 
}

.btn button:hover{
    background-color: rgb(174, 222, 252);
    color: black;
    border-radius: 2px solid black;
}