@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&display=swap');

body{
    background-color: rgb(174, 222, 252);
    margin: 0;
    padding: 0;
}

.nav{
    width: 95vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-right: 50px;
    font-family: "Madimi One", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.contents div{
    transition: transform .3s ease;
    cursor: pointer;
}
.contents div:hover{
    color:white;
}
.logoname img{
    padding: 20px 3px;
    margin-left: 40px;
    width: 70px;
}

.logoname{
    display: flex;
    align-items: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.maincontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 100px;
    height: 70vh;
}

.a{
    font-size: 2.3rem;
    font-family: "Nunito", sans-serif;
}

.b{
    font-size: 5rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
}

.c{
    font-size: 2.3rem;
    font-family: "Nunito", sans-serif;
}
.text div{
    padding-bottom: 15px;
}

.img1{
    display: flex;
    flex-direction: column;
}

.img1 img:first-child{
    position: absolute;
    right: 110px;
    bottom: 570px;
}

.img1 img:first-child, .img1 img:last-child {
    animation: rotate .9s  infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); } 
    50% { transform: rotate(90deg); } 
    100% { transform: rotate(0deg); } 
}

.btn button:hover{
    background-color: rgb(174, 222, 252);
    color: black;
    border-radius: 2px solid black;
}
.cards{
    background-color: rgb(252, 244, 226);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.card1{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 550px;
    padding: 10px;
    height: 140px;
    background-color: rgb(174, 222, 252); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
.card4{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 550px;
    padding: 10px;
    height: 140px;
    background-color: rgb(174, 222, 252); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.imgs img{
    border-radius: 50%;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.h{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 244, 226);
    padding-top: 40px;
    font-family: "Madimi One", sans-serif;
    font-size: 2.5rem;
}

body::-webkit-scrollbar {
    width: 12px; 
  }
 body::-webkit-scrollbar-track {
    background-color: rgb(252, 244, 226); 
    }
 body::-webkit-scrollbar-thumb {
    background-color:rgb(174, 222, 252);
    border-radius: 3px; 
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color:rgb(174, 222, 252); 
  }

  .quote{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
  }

  .author{
    font-size: 15px;
    font-style: italic;
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
  }
  .quote4{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    position: absolute;
    left: 160px;
    top: 50px;
  }

  .quote1{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
  }

  .author1{
    font-size: 15px;
    font-style: italic;
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
  }
  .quote41{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    position: absolute;
    left: 160px;
    top: 50px;
  }
  .card11{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 550px;
    padding: 20px;
    height: 140px;
    background-color: rgb(252, 244, 226); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
.card41{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 550px;
    padding: 20px;
    height: 140px;
    background-color: rgb(252, 244, 226); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
.quote1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(174, 222, 252);
    padding-top: 40px;
    font-family: "Madimi One", sans-serif;
    font-size: 2.5rem;
}
.cardss{
    background-color: rgb(174, 222, 252);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}